<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MobileTesting.Mobile.BaseTest"/>
      <class name="MobileTesting.Mobile.AppiumBasics"/>
      <class name="MobileTesting.Mobile.ScrollAction"/>
      <class name="MobileTesting.Mobile.LongPress"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
